.header{
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 64px;
    border-bottom: 1px solid var(--badges);
    background-color: #f7f7f7;
    width: 100%;
    height: 72px;
}

.headerNav{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    max-width: 1440px;
    width: 100%;
}

.headerLogoLink{
    width: 136px;
    height: 16px;
}

.headerMenu{
    display: flex;
    justify-self: center;
    gap: 32px;
}

.headerMenuLink{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.headerMenuLink:hover,
.headerMenuLink:focus{
    color: var(--button-hover);
}


.active{
    color: var(--button-hover);
}