.bookingForm{
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 1px solid var(--gray-light);
    border-radius: 10px;
    max-width: 641px;
    padding: 44px 57px;
}

.titleBox{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 8px;
}

.title{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: var(--main);
}

.text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray);
}

.form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.inputsBox{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.fieldGroup{
    display: flex;
    flex-direction: column;
    padding: 0;
}

:global(.react-datepicker) {
    border-radius: 16px;
    border: 1px solid var(--gray);
    overflow: hidden;
}

:global(.react-datepicker__header) {
    background-color: #fff;
    border-radius: 16px;
    border-bottom: none;
    font-family: var(--font-family);
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        text-align: center;
        color: var(--main);
}

:global(.react-datepicker__day-names) {
    border-bottom: 1px solid var(--gray);
    padding-bottom: 12px;
    margin-bottom: 12px;
}

:global(.react-datepicker__day) {
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s;
}

:global(.react-datepicker__day:hover) {
    background-color: var(--gray-light);
    color: #fff;
    border-radius: 50%;
}

:global(.react-datepicker__day--today) {
    background-color: var(--text);
    color: #fff;
    border-radius: 50%;
    font-weight: 600;
}

:global(.react-datepicker__day:hover) {
    background-color: var(--gray-light);
    color: var(--text);
    border-radius: 50%;
}

:global(.react-datepicker__day--selected) {
    background-color: var(--button);
    color: #fff;
    border-radius: 50%;
}

:global(.react-datepicker__day--selected:hover) {
    background-color: var(--button-hover);
    color: #fff;
    border-radius: 50%;
}

.input{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--main);
    border: none;
    border-radius: 12px;
    padding: 18px;
    width: 100%;
    background-color: var(--inputs);
    outline: none;
    box-sizing: border-box;
}

.input:focus {
    outline: none;
    box-shadow: none;
    border: none;
    background-color: var(--inputs);
}

.helper {
  margin-top: 4px;
  font-size: 12px;
  color: #6b7280;
}

.dateInput {
    width: 100% !important;
    padding: 18px;
    border-radius: 12px;
    font-size: 16px;
    box-sizing: border-box;
    border: none;
    background-color: var(--inputs);
}

.textarea {
    width: 100%;
    height: 118px;
    padding: 18px;
    border-radius: 10px;
    background-color: var(--inputs);
    font-family: var(--font-family);
    font-size: 16px;
    box-sizing: border-box;
    resize: none;
    border: none;
}

.textarea:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.fieldGroup:has(.error) .input {
  border-color: var(--button);
}

.error {
  margin-top: 4px;
  font-size: 12px;
  color: var(--button);
}

.sendBtn{
    border-radius: 200px;
    border: none;
    align-self: center;
    cursor: pointer;
        padding: 16px 60px;
        width: 166px;
        height: 56px;
        background: var(--button);
        font-family: var(--font-family);
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: -0.01em;
            color: var(--white);
}

.sendBtn:hover
.sendBtn:focus{
    background-color: var(--button-hover);
}

.sendBtn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}