.bookingForm{
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 1px solid var(--gray-light);
    border-radius: 10px;
    max-width: 641px;
    padding: 44px 57px;
}

.titleBox{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 8px;
}

.title{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: var(--main);
}

.text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray);
}

.form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.inputsBox{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.fieldGroup{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    padding: 0;
    max-width: 527px;
}

.datePickerWrapper{
    width: 100%;
}

.input{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--main);
    border: none;
    border-radius: 12px;
    padding: 18px;
    width: 100%;
    background-color: var(--inputs);
    outline: none;
    box-sizing: border-box;
}

.input:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.helper {
  margin-top: 4px;
  font-size: 12px;
  color: #6b7280;
}

.dateInput {
    width: 100% !important;
    padding: 18px;
    border-radius: 12px;
    font-size: 16px;
    box-sizing: border-box;
    border: none;
    background-color: var(--inputs);
}

.textarea {
    width: 100%;
    height: 118px;
    padding: 18px;
    border-radius: 10px;
    background-color: var(--inputs);
    font-family: var(--font-family);
    font-size: 16px;
    box-sizing: border-box;
    resize: none;
    border: none;
}

.fieldGroup:has(.error) .input {
  border-color: var(--button);
}

.error {
  margin-top: 4px;
  font-size: 12px;
  color: var(--button);
}


.buttonAnchor:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

