.camperItem{
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    gap: 28px;
}

.titleBox{
    display: flex;
    flex-direction: column;
    justify-items: start;
    gap: 8px;
    padding-top: 48px;
}

.detailsBox{
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 16px;
}

.reviewLocationBox{
    display: flex;
    flex-direction: row;
    gap: 16px;    
}

.reviews,
.location{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.starReting{
    width: 16px;
    height: 16px;
    fill: var(--rating);
}

.mapIcon{
    background-color: #fff;
}

.price{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--main);
}

.gallery{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 48px;  
  width: 100%;
}

.imageWrapper{
    position: relative;
    width: 292px;
    height: 312px;
    overflow: hidden;
    border-radius: 10px;
}

.image {
    object-fit: cover;
}

.itemDescription{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--text);
    margin-bottom: 60px;
}