.camperItem{
    width: 100%;
    max-width: 768px;
    display: flex;
    flex-direction: column;
    padding: 72px 24px 0 24px;
    gap: 28px;
    margin-bottom: 0;
}
.titleBox{
    display: flex;
    flex-direction: column;
    justify-items: start;
    gap: 8px;
    padding-top: 48px;
}

.detailsBox{
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 16px;
}

.reviewLocationBox{
    display: flex;
    flex-direction: row;
    gap: 16px;    
}

.reviews,
.location{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.starReting{
    width: 16px;
    height: 16px;
    fill: var(--rating);
}

.mapIcon{
    background-color: #fff;
}

.price{
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
}

.gallery{
    display: grid;
    grid-template-columns: 1fr;
    gap: 48px;  
    width: 100%;
}

.imageWrapper{
    position: relative;
    width: 292px;
    height: 312px;
    overflow: hidden;
    border-radius: 10px;
}

.image {
    object-fit: cover;
}

.itemDescription{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--text);
    margin-bottom: 60px;
}

@media (min-width: 768px) {
    .camperItem {
        padding: 72px 54px 0 64px;
    }
    
    .gallery{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1440px) {
    .camperItem{
        max-width: 1440px;
    }
    
    .gallery{
        grid-template-columns: repeat(4, 1fr);
     }
}


