.heroBlock{
    background-image: url('/images/hero-img-1x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding: 260px 0;
    display: flex;
    align-items: center;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 64px;
}

.heroContent{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    margin-right: auto;
}

.heroTitle{
    font-weight: 600;
    font-size: 48px;
    line-height: 67%;
    color: var(--inputs);
    margin-bottom: 16px;
}

.heroDescription{
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--inputs);
}

