.featuresWrapper{
  display: flex;
  flex-direction: column;
  max-width: 631px;
  width: 100%;
  background-color: var(--inputs);
  border-radius: 10px;
  padding: 44px 52px;
  gap: 48px;
  margin-right: 40px;
}

.featuresList{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.badge{
    display: inline-flex;
    align-items: center;
    width: fit-content;
    gap: 8px;
    border-radius: 100px;
    padding: 12px 18px;
    background: var(--badges);
    font-weight: 500;
    width: max-content;
    flex: 0 0 auto;
}

.iconBadge{
    width: 20px;
    height: 20px;
    fill: var(--main);
    stroke: none;   
}

.iconsBadge{
    width: 20px;
    height: 20px;
    fill: transparent;
    stroke: currentColor;
    stroke-width: 2.0;
}

.vehicleDetailsWrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.vehicleDetailsTitle{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: var(--main);
}

.devider {
    border: none;
    height: 1px;
    background-color: var(--gray-light);
    margin: 24px 0;
}

.detailsList{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.detailsItem{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--main);
    display: flex;
    justify-content: space-between;
}

.capitalForm{
    text-transform: capitalize;
}