.catalogPage{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 72px 64px 0 64px;
    gap: 64px;
}

.sideBar{
    max-width: 360px;
    flex-shrink: 0;
}

.mainCatalog{
    max-width: 888px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;  
    gap: 80px;  
    margin-bottom: 60px;
}