.camperCard{
    border: 1px solid var(--gray-light);
    border-radius: 20px;
    padding: 24px;
    width: 888px;
    min-height: 368px;
    background-color: var(--white);
}

.cardContent{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.imageWrapper{
  position: relative;  
  width: 292px;
  height: 320px;
  overflow: hidden;
  border-radius: 10px;
  flex-shrink: 0; 
}

.image {
  object-fit: cover;
}

.infoBlock{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 24px;
    min-width: 0;
}

.titleBox{
    display: flex;
    flex-direction: row;
    justify-content: flex;
    align-items: flex-start;
    gap: 136px;
    margin-bottom: 8px;
}

.cardTitle{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--main); 
}

.priceBox{
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 0;
}

.price{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--main);
}

.heartBotton{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 18px;
    height: 18px;
    padding: 0;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
}

.heartIcon{
    display: block;
    width: 120%;
}

.active{
    fill: var(--button);
}

.detailsBox{
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-size: 16px;
}

.reviews,
.location{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.starReting{
    width: 16px;
    height: 16px;
    fill: var(--rating);
}

.mapIcon{
    background-color: #fff;
}

.textSupport{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--text);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.cardBadges{
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 8px;
}

.badge{
    display: inline-flex;
    align-items: center;
    width: fit-content;
    gap: 8px;
    border-radius: 100px;
    padding: 12px 18px;
    background: var(--badges);
    font-weight: 500;
    width: max-content;
    flex: 0 0 auto;
}

.badge:nth-child(4) {
    grid-column: 1;
}

.iconBadge{
    width: 20px;
    height: 20px;
    fill: var(--main);
    stroke: none;   
}




