.camperCard{
    border: 1px solid var(--gray-light);
    border-radius: 20px;
    padding: 24px;
    width: 888px;
    height: 368px;
    background-color: var(--white);
}

.cardContent{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.imageWrapper{
  position: relative;  
  width: 292px;
  height: 320px;
  overflow: hidden;
  border-radius: 10px; 
}

.image {
  object-fit: cover;
}

.infoBlock{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 24px;
}

.titleBox{
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    align-items: flex-start;
    margin-bottom: 8px;
}

.cardTitle{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--main); 
}

.priceBox{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.price{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--main);
}

.favoriteBotton{
   background-color: #fff;
   width: 25px;
   height: 24px; 
}