.camperDetailsWrapper {
  width: 100%;
  max-width: 768px;
  margin: 0;
  padding: 0 64px 50px 64px; /* mobile padding */
}

/* ===== MOBILE ===== */
.contentGrid {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
}


/* ===== TABLET ===== */
@media (min-width: 768px) and (max-width: 1199px) {
  .contentGrid {
    gap: 32px;
  }
}


/* ===== DESKTOP ===== */
@media (min-width: 1200px) {

  .camperDetailsWrapper {
    padding: 0 20px 50px 0;
  }

  .contentGrid {
    flex-direction: row;
    gap: 40px;
  }
}




/*.camperDetailsWrapper {
  padding: 0 64px;
  max-width: 1200px;
  margin: 0 auto;
}

.contentGrid {
  display: grid;
  grid-template-columns: 1fr 640px; /* ліва колонка + права фіксована 
  gap: 24px;
  margin-top: 24px;
}

/* Ліва колонка з контентом 
.leftColumn {
  min-width: 0;
}

/* Права колонка з формою бронювання 
.rightColumn {
  min-width: auto;
}

/* Мобільний адаптив 
@media (max-width: 768px) {
  .contentGrid {
    grid-template-columns: 1fr; /* один стовпець 
  }

  .rightColumn {
    margin-top: 24px; /* відокремлюємо форму від контенту 
    position: static;
  }
}

@media (min-width: 768px) {
    .camperDetailsWrapper{
      min-height: calc(100vh - 72px);
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
  
    .contentGrid{
        grid-template-columns: repeat(1fr, 480px);
        gap: 32px;
    }
    
    .rightColumn {
      position: sticky;
      top: 72px;
      align-self: start;
    }
}

@media (min-width: 1440px) {
    .contentGrid{
        grid-template-columns: repeat(1fr, 641px);
        gap: 40px;
    }
  }
*/





/*.camperDetailsWrapper{
    max-width: 1440px;
    min-height: calc(100vh - 72px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 64px;
    gap: 40px;
}

.contentGrid {
    display: grid;
    grid-template-columns: 1fr 641px;
    gap: 40px;
}

.leftColumn{
    min-width: 0;
}

.rightColumn {
    position: sticky;
    top: 72px;
    align-self: start;
}*/