.camperDetailsWrapper {
  width: 100%;
  max-width: 768px;
  margin: 0;
  padding: 0 8px 50px 24px; /* mobile padding */
}

/* ===== MOBILE ===== */
.contentGrid {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
}


/* ===== TABLET ===== */
@media (min-width: 768px) {
  .camperDetailsWrapper {
    padding: 0 64px 50px 64px;
  }

  .contentGrid {
    gap: 32px;
  }
}

/* ===== DESKTOP ===== */
@media (min-width: 1440px) {
  .camperDetailsWrapper{
    max-width: 1440px;
    min-height: calc(100vh - 72px);
    margin: 0 auto;
    flex-direction: column;
    padding: 0 64px;
    gap: 40px;
  }

  .contentGrid {
    display: grid;
    grid-template-columns: 1fr 641px;
    gap: 40px;
  }

  .leftColumn{
    min-width: 0;
  }

  .rightColumn {
    position: sticky;
    top: 72px;
    align-self: start;
  }
}


