.loadMoreButton{
    border: 1px solid var(--gray-light);
    border-radius: 200px;
    background-color: var(--white);
    padding: 16px 32px;
    width: 145px;
    height: 56px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    padding: 16px 30px;
    cursor: pointer;
}

.loadMoreButton:hover,
.loadMoreButton:focus{
    border: 1px solid var(--button-hover);
}

.loadMoreButton:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
